@import '../../styles/_variable.css';

:root {
  --primary-color: #00425a;
  --secondary-color: #6c757d;
  --font-family: Arial, sans-serif;
}

.header {
  grid-column: 1/4;
  background-color: #00425a;
  padding: 0.5em 1.5em;
  display: flex;
  justify-content: flex-start;
}

.logo-title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  font-weight: bold;
  font-size: 1.5rem;
  color: aliceblue;
  margin-right: 5.2em;
}

.menu {
  color: aliceblue;
  cursor: pointer;
}

.menu:hover {
  cursor: wait;
}

.search-bar {
  color: aliceblue;
  display: flex;
  align-items: center;
  height: 30px;
  width: auto;
}

.search-box {
  height: 100%;
  border-radius: 10px 0px 0px 10px;
  width: 50em;
  padding: 4px;
}
.search-icon {
  height: 90%;
  padding: 5px;
  background-color: aliceblue;
  color: #00425a;
  font-weight: bold;
  border-radius: 0px 10px 10px 0px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
